*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}


.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.slide[data-active] {
    opacity: 1;
    z-index: 1;
}

.carousel-button-prev,
.carousel-button-next {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
}


.carousel-button-prev:hover,
.carousel-button-next:hover,
.carousel-button-prev:focus,
.carousel-button-next:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    outline: 1px solid black;
}


.carousel-button-prev {
    left: 1rem;
}

.carousel-button-next {
    right: 1rem;
}